@import url('https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geo", sans-serif;
}
:root{
    --bg-color-one: #F1F2F4;
    --bg-color-two: #DCDFE4;
    --font-color:#172B4D;
    --highlight:#091E42;
    --icon-color:#101214;
}

.container{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color-one);
}

.display h1{
    text-align: center;
    font-size: clamp(6rem,10vw,18rem);
    color: var(--font-color);
    background-color: var(--bg-color-two);
    border-radius: 1rem;
    margin-bottom: 10px;
    padding: none;
}
.display h2{
    text-align: center;
    font-size: clamp(1.2rem,5vw,2rem);
    color: var(--font-color);
    background-color: var(--bg-color-two);
    padding: 5px 20px;
    border-radius: 1rem;
    margin-bottom: 30px;
}
.display h4{
    text-align: center;
    font-size: clamp(16px,7vw,20px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    color: var(--font-color);
}
.display h4 span{
    font-size: clamp(20px,13vw,40px);
    font-weight: bolder;
    margin-left: 5px;
    color: var(--highlight);
}
.controls{
    top: 80%;
    position: fixed;
    margin: 10px;
    display: flex;
    gap: clamp(20px,10vw,50px);
    justify-content: center;
    align-items: center;

}
.controls i:nth-child(1){
    cursor: pointer;
    font-size: clamp(15px,22px,25px);
    padding:clamp(5px,5vw,15px) ;
    color:#F15B50;
    background-color: var(--bg-color-two);
    border-radius: 1rem;
    font-weight: bold;
}
.controls i:nth-child(2){
    font-size: clamp(33px,10vw,40px);
    padding:clamp(15px,10px,40px) ;
    color:var(--font-color);
    background-color: var(--bg-color-two);
    border-radius: 1rem;
}
.controls i:nth-child(3){
    cursor: pointer;
    font-size: clamp(15px,22px,25px);
    padding:clamp(5px,5vw,15px) ;
    color:#2ABB7F;
    background-color: var(--bg-color-two);
    border-radius: 1rem;
    font-weight: bold;
}

@media screen and (max-width:400px){
    .container{
        width: 100%;
        min-height: 100dvh;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .controls{
        width: 10px;
        min-height: 100dvh;
        margin: 0px 20px;
        background-color: var(--bg-color-two);
        position: static;
        display: flex;
        flex-direction: column;
        gap: clamp(20px,10vw,50px);
        justify-content: center;
        align-items: center;
    
    }
}